<div class="form-group">
  <label>Title</label>
  {{input value=post.title class='form-control'}}
</div>
<div class="form-group">
  <label>Body</label>
  {{textarea value=post.body class='form-control'}}
</div>